.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
}

.box {
    border-radius: 15px;
    color: rgb(0, 0, 0);
    width: 45%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 15px 10px 30px rgba(0, 0, 0, 2);
    padding-top: 50px;
}

label {
    display: block;
    font-size: 30px;
    margin: 0;
}
input {
    border-radius: 15px;
    margin-bottom: 20px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.15);
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    border: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
}

select {
    -webkit-text-stroke: 2px black;
    cursor: pointer;
    border-radius: 15px;
    color: #62dc8b;
    background-color: rgba(44, 40, 40, 0.11);
    height: 50px;
    width: 70%;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
  }

option {
    cursor: pointer;
    border-radius: 15px;
}

@media screen and (max-width: 1000px) {
    .box {
        height: 100px;
        width: 45%;
        height: 200px;
    }
    .input {
        font-size: 15px;
        width: 25%;
        height: 50px;
    }

    select {
        width: 50%;
        font-size: 15px;
        height: 50px;
    }

}